allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { getattr } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { getattr } 
allow rild system_data_file:file { getattr } 
allow system_app init:binder { call } 
allow system_app init:binder { call } 
allow surfaceflinger device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { ioctl } 
allow init init:socket { read } 
allow init init:socket { read } 
allow init init:socket { write } 
allow init init:socket { write } 
allow hal_graphics_composer_default init:binder { call } 
allow hal_graphics_composer_default init:binder { call } 
allow surfaceflinger device:chr_file { read write } 
allow surfaceflinger device:chr_file { read write } 
allow hal_audio_default device:chr_file { ioctl } 
allow hal_audio_default device:chr_file { ioctl } 
allow platform_app device:chr_file { ioctl } 
allow platform_app device:chr_file { ioctl } 
allow platform_app device:chr_file { read write } 
allow platform_app device:chr_file { read write } 
allow init device:chr_file { ioctl } 
allow init device:chr_file { ioctl } 
allow platform_app vendor_file:file { read } 
allow platform_app vendor_file:file { read } 
allow platform_app vendor_file:file { open } 
allow platform_app vendor_file:file { open } 
allow platform_app vendor_file:file { getattr } 
allow platform_app vendor_file:file { getattr } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { read write } 
allow system_server device:chr_file { read write } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { getattr } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { getattr } 
allow rild system_data_file:file { getattr } 
allow system_server init:binder { call } 
allow system_server init:binder { call } 
allow system_app init:binder { call } 
allow system_app init:binder { call } 
allow hal_memtrack_default debugfs:file { read } 
allow hal_memtrack_default debugfs:file { read } 
allow hal_memtrack_default debugfs:file { open } 
allow hal_memtrack_default debugfs:file { open } 
allow hal_memtrack_default debugfs:file { getattr } 
allow hal_memtrack_default debugfs:file { getattr } 
allow init init:capability2 { block_suspend } 
allow init init:capability2 { block_suspend } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow system_app device:chr_file { ioctl } 
allow system_app device:chr_file { ioctl } 
allow priv_app vendor_file:file { read } 
allow priv_app vendor_file:file { read } 
allow priv_app vendor_file:file { open } 
allow priv_app vendor_file:file { open } 
allow priv_app vendor_file:file { getattr } 
allow priv_app vendor_file:file { getattr } 
allow system_app vendor_file:file { read } 
allow system_app vendor_file:file { read } 
allow system_app vendor_file:file { open } 
allow system_app vendor_file:file { open } 
allow priv_app device:chr_file { ioctl } 
allow priv_app device:chr_file { ioctl } 
allow system_app vendor_file:file { getattr } 
allow system_app vendor_file:file { getattr } 
allow priv_app device:chr_file { read write } 
allow priv_app device:chr_file { read write } 
allow system_app device:chr_file { read write } 
allow system_app device:chr_file { read write } 
allow surfaceflinger device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { ioctl } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { open } 
allow hal_graphics_composer_default sysfs:file { open } 
allow surfaceflinger device:chr_file { read write } 
allow surfaceflinger device:chr_file { read write } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow init init:socket { write } 
allow init init:socket { write } 
allow hal_graphics_composer_default init:binder { call } 
allow hal_graphics_composer_default init:binder { call } 
allow system_app device:chr_file { ioctl } 
allow system_app device:chr_file { ioctl } 
allow system_app device:chr_file { read write } 
allow system_app device:chr_file { read write } 
allow priv_app device:chr_file { ioctl } 
allow priv_app device:chr_file { ioctl } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow untrusted_app device:chr_file { read write } 
allow untrusted_app device:chr_file { read write } 
allow untrusted_app device:chr_file { open } 
allow untrusted_app device:chr_file { open } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { execute } 
allow untrusted_app vendor_file:file { execute } 
allow untrusted_app sysfs:file { read } 
allow untrusted_app sysfs:file { read } 
allow untrusted_app sysfs:file { open } 
allow untrusted_app sysfs:file { open } 
allow untrusted_app sysfs:file { getattr } 
allow untrusted_app sysfs:file { getattr } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { ioctl } 
allow platform_app device:chr_file { ioctl } 
allow platform_app device:chr_file { ioctl } 
allow system_server device:chr_file { read write } 
allow system_server device:chr_file { read write } 
allow surfaceflinger device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { ioctl } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { open } 
allow hal_graphics_composer_default sysfs:file { open } 
allow init init:socket { read } 
allow init init:socket { read } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app device:chr_file { ioctl } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow init device:chr_file { ioctl } 
allow init device:chr_file { ioctl } 
allow init init:socket { write } 
allow init init:socket { write } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow platform_app device:chr_file { ioctl } 
allow platform_app device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { read write } 
allow surfaceflinger device:chr_file { read write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { open } 
allow hal_graphics_composer_default sysfs:file { open } 
allow untrusted_app device:chr_file { read write } 
allow untrusted_app device:chr_file { read write } 
allow surfaceflinger device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { ioctl } 
allow untrusted_app device:chr_file { open } 
allow untrusted_app device:chr_file { open } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { execute } 
allow untrusted_app vendor_file:file { execute } 
allow untrusted_app sysfs:file { read } 
allow untrusted_app sysfs:file { read } 
allow untrusted_app sysfs:file { open } 
allow untrusted_app sysfs:file { open } 
allow untrusted_app sysfs:file { getattr } 
allow untrusted_app sysfs:file { getattr } 
allow surfaceflinger device:chr_file { read write } 
allow surfaceflinger device:chr_file { read write } 
allow hal_memtrack_default debugfs:file { read } 
allow hal_memtrack_default debugfs:file { read } 
allow hal_memtrack_default debugfs:file { open } 
allow hal_memtrack_default debugfs:file { open } 
allow hal_memtrack_default debugfs:file { getattr } 
allow hal_memtrack_default debugfs:file { getattr } 
allow system_app device:chr_file { ioctl } 
allow system_app device:chr_file { ioctl } 
allow priv_app vendor_file:file { read } 
allow priv_app vendor_file:file { read } 
allow priv_app vendor_file:file { open } 
allow priv_app vendor_file:file { open } 
allow priv_app vendor_file:file { getattr } 
allow priv_app vendor_file:file { getattr } 
allow priv_app device:chr_file { ioctl } 
allow priv_app device:chr_file { ioctl } 
allow priv_app device:chr_file { read write } 
allow priv_app device:chr_file { read write } 
allow system_app vendor_file:file { read } 
allow system_app vendor_file:file { read } 
allow system_app vendor_file:file { open } 
allow system_app vendor_file:file { open } 
allow system_app vendor_file:file { getattr } 
allow system_app vendor_file:file { getattr } 
allow system_app device:chr_file { read write } 
allow system_app device:chr_file { read write } 
allow hal_audio_default device:chr_file { ioctl } 
allow hal_audio_default device:chr_file { ioctl } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { read write } 
allow system_server device:chr_file { read write } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app device:chr_file { ioctl } 
allow platform_app device:chr_file { ioctl } 
allow platform_app device:chr_file { ioctl } 
allow platform_app device:chr_file { read write } 
allow platform_app device:chr_file { read write } 
allow untrusted_app device:chr_file { read write } 
allow untrusted_app device:chr_file { read write } 
allow init device:chr_file { ioctl } 
allow init device:chr_file { ioctl } 
allow init init:socket { write } 
allow init init:socket { write } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read } 
allow hal_graphics_composer_default init:binder { call } 
allow hal_graphics_composer_default init:binder { call } 
allow untrusted_app_25 vendor_file:file { read } 
allow untrusted_app_25 vendor_file:file { read } 
allow untrusted_app_25 vendor_file:file { open } 
allow untrusted_app_25 vendor_file:file { open } 
allow untrusted_app_25 vendor_file:file { getattr } 
allow untrusted_app_25 vendor_file:file { getattr } 
allow untrusted_app_25 device:chr_file { ioctl } 
allow untrusted_app_25 device:chr_file { ioctl } 
allow untrusted_app_25 device:chr_file { read write } 
allow untrusted_app_25 device:chr_file { read write } 
allow hal_memtrack_default debugfs:file { read } 
allow hal_memtrack_default debugfs:file { read } 
allow hal_memtrack_default debugfs:file { open } 
allow hal_memtrack_default debugfs:file { open } 
allow hal_memtrack_default debugfs:file { getattr } 
allow hal_memtrack_default debugfs:file { getattr } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow hal_sensors_default hal_sensors_default:socket { write } 
allow hal_sensors_default hal_sensors_default:socket { write } 
allow init init:socket { read } 
allow init init:socket { read } 
allow init init:netlink_generic_socket { read } 
allow init init:netlink_generic_socket { read } 
allow init init:netlink_generic_socket { write } 
allow init init:netlink_generic_socket { write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { open } 
allow hal_graphics_composer_default sysfs:file { open } 
allow surfaceflinger device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { ioctl } 
allow hal_audio_default device:chr_file { ioctl } 
allow hal_audio_default device:chr_file { ioctl } 
allow init init:socket { write } 
allow init init:socket { write } 
allow surfaceflinger device:chr_file { read write } 
allow surfaceflinger device:chr_file { read write } 
allow hal_graphics_composer_default init:binder { call } 
allow hal_graphics_composer_default init:binder { call } 
allow init init:socket { read } 
allow init init:socket { read } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { getattr } 
allow rild system_data_file:file { getattr } 
allow system_server init:binder { call } 
allow system_server init:binder { call } 
allow system_app init:binder { call } 
allow system_app init:binder { call } 
allow system_server init:binder { call } 
allow system_server init:binder { call } 
allow priv_app vendor_file:file { read } 
allow priv_app vendor_file:file { read } 
allow priv_app vendor_file:file { open } 
allow priv_app vendor_file:file { open } 
allow priv_app vendor_file:file { getattr } 
allow priv_app vendor_file:file { getattr } 
allow priv_app device:chr_file { ioctl } 
allow priv_app device:chr_file { ioctl } 
allow priv_app device:chr_file { read write } 
allow priv_app device:chr_file { read write } 
allow system_app vendor_file:file { read } 
allow system_app vendor_file:file { read } 
allow system_app vendor_file:file { open } 
allow system_app vendor_file:file { open } 
allow system_app vendor_file:file { getattr } 
allow system_app vendor_file:file { getattr } 
allow system_app device:chr_file { ioctl } 
allow system_app device:chr_file { ioctl } 
allow priv_app device:chr_file { ioctl } 
allow priv_app device:chr_file { ioctl } 
allow system_app device:chr_file { read write } 
allow system_app device:chr_file { read write } 
allow init init:netlink_generic_socket { read } 
allow init init:netlink_generic_socket { read } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { read write } 
allow system_server device:chr_file { read write } 
allow init init:netlink_generic_socket { write } 
allow init init:netlink_generic_socket { write } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app device:chr_file { read write } 
allow untrusted_app device:chr_file { read write } 
allow init device:chr_file { ioctl } 
allow init device:chr_file { ioctl } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow hal_sensors_default hal_sensors_default:socket { read } 
allow hal_sensors_default hal_sensors_default:socket { write } 
allow hal_sensors_default hal_sensors_default:socket { write } 
allow platform_app vendor_file:file { read } 
allow platform_app vendor_file:file { read } 
allow platform_app vendor_file:file { open } 
allow platform_app vendor_file:file { open } 
allow platform_app vendor_file:file { getattr } 
allow platform_app vendor_file:file { getattr } 
allow priv_app device:chr_file { read write } 
allow priv_app device:chr_file { read write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { open } 
allow hal_graphics_composer_default sysfs:file { open } 
allow surfaceflinger device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { ioctl } 
allow untrusted_app device:chr_file { open } 
allow untrusted_app device:chr_file { open } 
allow untrusted_app vendor_file:file { execute } 
allow untrusted_app vendor_file:file { execute } 
allow untrusted_app sysfs:file { read } 
allow untrusted_app sysfs:file { read } 
allow untrusted_app sysfs:file { open } 
allow untrusted_app sysfs:file { open } 
allow untrusted_app sysfs:file { getattr } 
allow untrusted_app sysfs:file { getattr } 
allow system_server device:chr_file { ioctl } 
allow system_server device:chr_file { ioctl } 
allow untrusted_app_25 vendor_file:file { read } 
allow untrusted_app_25 vendor_file:file { read } 
allow untrusted_app_25 vendor_file:file { open } 
allow untrusted_app_25 vendor_file:file { open } 
allow untrusted_app_25 vendor_file:file { getattr } 
allow untrusted_app_25 vendor_file:file { getattr } 
allow untrusted_app_25 device:chr_file { ioctl } 
allow untrusted_app_25 device:chr_file { ioctl } 
allow untrusted_app_25 device:chr_file { read write } 
allow untrusted_app_25 device:chr_file { read write } 
allow platform_app device:chr_file { ioctl } 
allow platform_app device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { read write } 
allow surfaceflinger device:chr_file { read write } 
allow untrusted_app proc:file { read } 
allow untrusted_app proc:file { read } 
allow untrusted_app proc:file { open } 
allow untrusted_app proc:file { open } 
allow untrusted_app sysfs:dir { read } 
allow untrusted_app sysfs:dir { read } 
allow untrusted_app sysfs:dir { open } 
allow untrusted_app sysfs:dir { open } 
allow untrusted_app sysfs:file { read } 
allow untrusted_app sysfs:file { read } 
allow untrusted_app sysfs:file { open } 
allow untrusted_app sysfs:file { open } 
allow init device:chr_file { ioctl } 
allow init device:chr_file { ioctl } 
allow init init:socket { write } 
allow init init:socket { write } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app_25 device:chr_file { ioctl } 
allow untrusted_app_25 device:chr_file { ioctl } 
allow platform_app device:chr_file { read write } 
allow platform_app device:chr_file { read write } 
allow init init:socket { read } 
allow init init:socket { read } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { getattr } 
allow rild system_data_file:file { getattr } 
allow system_server init:binder { call } 
allow system_server init:binder { call } 
allow system_app init:binder { call } 
allow system_app init:binder { call } 
allow hal_memtrack_default debugfs:file { read } 
allow hal_memtrack_default debugfs:file { read } 
allow hal_memtrack_default debugfs:file { open } 
allow hal_memtrack_default debugfs:file { open } 
allow hal_memtrack_default debugfs:file { getattr } 
allow hal_memtrack_default debugfs:file { getattr } 
allow system_app init:binder { call } 
allow system_app init:binder { call } 
allow platform_app vendor_file:file { read } 
allow platform_app vendor_file:file { read } 
allow platform_app vendor_file:file { open } 
allow platform_app vendor_file:file { open } 
allow platform_app vendor_file:file { getattr } 
allow platform_app vendor_file:file { getattr } 
allow untrusted_app device:chr_file { read write } 
allow untrusted_app device:chr_file { read write } 
allow system_server device:chr_file { read write } 
allow system_server device:chr_file { read write } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { getattr } 
allow hal_graphics_composer_default init:binder { call } 
allow hal_graphics_composer_default init:binder { call } 
allow untrusted_app_25 device:chr_file { read write } 
allow untrusted_app_25 device:chr_file { read write } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { lock } 
allow rild system_data_file:file { getattr } 
allow rild system_data_file:file { getattr } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { write } 
allow hal_graphics_composer_default sysfs:file { open } 
allow hal_graphics_composer_default sysfs:file { open } 
allow surfaceflinger device:chr_file { ioctl } 
allow surfaceflinger device:chr_file { ioctl } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { read } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { open } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app vendor_file:file { getattr } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app device:chr_file { ioctl } 
allow untrusted_app device:chr_file { read write } 
allow untrusted_app device:chr_file { read write } 
allow surfaceflinger device:chr_file { read write } 
