allow vendor_init rootfs:dir { write } 
allow vendor_init rootfs:dir { add_name } 
allow vendor_init rootfs:dir { create } 
allow vendor_init rootfs:dir { setattr } 
allow init tmpfs:lnk_file { create } 
allow init kernel:system { module_request } 
allow init vendor_file:file { execute } 
allow init vendor_file:file { execute_no_trans } 
allow init mnt_vendor_file:dir { mounton } 
allow toolbox ram_device:blk_file { read write } 
allow toolbox ram_device:blk_file { open } 
allow toolbox ram_device:blk_file { getattr } 
allow init ram_device:blk_file { write } 
allow vendor_init proc:file { write } 
allow vendor_init unlabeled:dir { setattr } 
allow vendor_init unlabeled:dir { setattr } 
allow vendor_init unlabeled:dir { setattr } 
allow vendor_init unlabeled:dir { setattr } 
allow init sysfs:file { setattr } 
allow init sysfs:file { setattr } 
allow vendor_init system_data_file:dir { setattr } 
allow vendor_init system_data_file:dir { setattr } 
allow vendor_init camera_data_file:dir { setattr } 
allow vendor_init camera_data_file:dir { setattr } 
allow vendor_init tombstone_data_file:dir { setattr } 
allow vendor_init tombstone_data_file:dir { setattr } 
allow vendor_init bluetooth_data_file:dir { setattr } 
allow vendor_init bluetooth_data_file:dir { setattr } 
allow vendor_init system_data_file:dir { write } 
allow vendor_init system_data_file:dir { write } 
allow vendor_init system_data_file:dir { add_name } 
allow vendor_init system_data_file:dir { add_name } 
allow vendor_init system_data_file:dir { create } 
allow vendor_init system_data_file:dir { create } 
allow vendor_init unlabeled:dir { setattr } 
allow vendor_init unlabeled:dir { setattr } 
allow init sysfs:file { read } 
allow init sysfs:file { read } 
allow init sysfs:file { open } 
allow init sysfs:file { open } 
allow init block_device:blk_file { write } 
allow init block_device:blk_file { write } 
allow init vndbinder_device:chr_file { read } 
allow init vndbinder_device:chr_file { read } 
allow init vndbinder_device:chr_file { write } 
allow init vndbinder_device:chr_file { write } 
allow init ion_device:chr_file { ioctl } 
allow init ion_device:chr_file { ioctl } 
allow init vndbinder_device:chr_file { ioctl } 
allow init vndbinder_device:chr_file { ioctl } 
allow init graphics_device:chr_file { write } 
allow toolbox system_prop:property_service { set } 
allow init graphics_device:chr_file { write } 
allow ueventd vfat:file { read } 
allow ueventd vfat:file { read } 
allow ueventd vfat:file { open } 
allow ueventd vfat:file { open } 
allow ueventd vfat:file { getattr } 
allow ueventd vfat:file { getattr } 
allow toolbox vendor_data_file:file { getattr } 
allow toolbox vendor_data_file:file { getattr } 
allow toolbox vfat:file { getattr } 
allow rild vendor_default_prop:property_service { set } 
allow toolbox vfat:file { getattr } 
allow surfaceflinger vendor_file:file { read } 
allow surfaceflinger vendor_file:file { read } 
allow surfaceflinger vendor_file:file { open } 
allow surfaceflinger vendor_file:file { open } 
allow surfaceflinger vendor_file:file { getattr } 
allow surfaceflinger vendor_file:file { getattr } 
allow hal_graphics_allocator_default device:chr_file { read write } 
allow hal_graphics_allocator_default device:chr_file { read write } 
allow hal_graphics_allocator_default device:chr_file { open } 
allow hal_graphics_allocator_default device:chr_file { open } 
allow rild rild:socket { ioctl } 
allow rild rild:socket { ioctl } 
allow init init:netlink_route_socket { create } 
allow init init:netlink_route_socket { create } 
allow init init:netlink_route_socket { setopt } 
allow init init:netlink_route_socket { setopt } 
allow init init:netlink_route_socket { bind } 
allow init init:netlink_route_socket { bind } 
allow init device:chr_file { read write } 
allow init device:chr_file { read write } 
allow init device:chr_file { open } 
allow init device:chr_file { open } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow hwservicemanager init:binder { transfer } 
allow hwservicemanager init:binder { transfer } 
allow init netd:binder { call } 
allow init netd:binder { call } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow init init:udp_socket { ioctl } 
allow system_server sysfs:file { read } 
allow system_server sysfs:file { read } 
allow system_server sysfs:file { open } 
allow system_server sysfs:file { open } 
allow system_server sysfs:file { getattr } 
allow system_server sysfs:file { getattr } 
allow init system_file:file { execute_no_trans } 
allow init system_file:file { execute_no_trans } 
allow init netutils_wrapper_exec:file { execute } 
allow init netutils_wrapper_exec:file { execute } 
allow init netutils_wrapper_exec:file { read open } 
allow init netutils_wrapper_exec:file { read open } 
allow init netutils_wrapper_exec:file { execute_no_trans } 
allow init netutils_wrapper_exec:file { execute_no_trans } 
allow init netutils_wrapper_exec:file { getattr } 
